/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable media-feature-range-notation */


.playlist__table {
    height: 54px;
    grid-template-columns: 44px 56px 3fr 2fr 60px 80px;
}

@media (max-width: 960px) {
    .playlist__table {
        grid-template-columns: 44px 56px 3fr 60px 60px;
    }
}

@media (max-width: 530px) {
    .playlist__table {
        grid-template-columns: 30px 56px 1fr 60px;
    }
}

.playlist__compact {
    &.playlist__table {
        height: 34px;
        grid-template-columns: 44px 3fr 2fr 60px 80px;
    }

    @media (max-width: 960px) {
        &.playlist__table {
            grid-template-columns: 44px 3fr 60px 60px;
        }
    }

    @media (max-width: 530px) {
        &.playlist__table {
            grid-template-columns: 30px 1fr 60px;
        }
    }

    .table-image {
        display: none;
    }
}

.playlist__wrapper {
    transition: all 0.2s ease 0s;

    @media (max-width: 960px) {
        .table-data {
            font-size: 12px;
        }

        .table-timer {
            display: none;
        }
    }

    @media (max-width: 530px) {
        .table-id {
            transform: rotate(90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
        }

        .table-data {
            display: none;
        }

        .table-timer {
            display: none;
        }
    }
}



@media (max-width: 530px) {
    .tracklist__mainWrapper {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
}


.title__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 700px;

    @media (min-width: 640px) {
        min-height: 220px;
        height: 220px;
        flex-direction: row;
    }
}

.title__cover-left {
    display: none;
    aspect-ratio: 1/1;

    @media (min-width: 640px) {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
    }

    img {
        pointer-events: none;
        user-select: none;
        height: 100%;
        width: 100%;

        aspect-ratio: 1/1;
    }

}

.title__block {
    display: flex;
    width: 100%;
    flex-direction: column;

    @media (min-width: 640px) {
        height: 100%;
        margin-left: 16px;
        justify-content: space-between;
    }
}

.title__upper {
    position: relative;

    @media (min-width: 640px) {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }

    .title__upper-playlist {
        user-select: none;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 300;

        @media (min-width: 640px) {
            font-size: 1.125rem;
            line-height: 1.75rem;

            position: absolute;
            top: -18px;
            user-select: none;
        }
    }

    .title__upper-naming {
        user-select: none;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.25rem;

        @media (min-width: 640px) {
            font-size: 3rem;
            line-height: 1;
            flex-grow: 1;
            height: 100%;
            display: flex;
            align-items: center;

        }
    }
}

.title__cover-center {
    position: relative;
    display: flex;
    height: 100%;
    min-height: 300px;
    align-items: center;
    justify-content: center;

    transition: all 0.2 ease 0s;

    @media (min-width: 640px) {
        display: none;
    }

    div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        width: 70%;

        img {
            pointer-events: none;
            user-select: none;
            width: 100%;
            padding: 0.25rem;
        }
    }
}

.title__description {
    width: 100%;

    .title__description-info {
        padding-top: 4px;
        width: 100%;
        display: flex;
        user-select: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }



    .title__description-author {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        user-select: none;
        width: 100%;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}




.sceletonPlaylist {
    max-width: 100%;
    background-color: #ffffff21;
    animation: 2s ease-in-out 0.5s infinite normal none running sceletonframes;
}

.sceletonTitle {
    background-color: #ffffff21;
    animation: 2s ease-in-out 0.5s infinite normal none running sceletonframes;
    color: transparent;
    padding-right: 40px;
    border-radius: 10px;
}