/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable media-feature-range-notation */




.playlist__table {
    height: 54px;
    grid-template-columns: 44px 56px 3fr 2fr 60px 80px;
}

@media (max-width: 960px) {
    .playlist__table {
        grid-template-columns: 44px 56px 3fr 60px 60px;
    }
}

@media (max-width: 530px) {
    .playlist__table {
        grid-template-columns: 30px 56px 1fr 60px;
    }
}

.playlist__compact {
    &.playlist__table {
        height: 34px;
        grid-template-columns: 44px 3fr 2fr 60px 80px;
    }

    @media (max-width: 960px) {
        &.playlist__table {
            grid-template-columns: 44px 3fr 60px 60px;
        }
    }

    @media (max-width: 530px) {
        &.playlist__table {
            grid-template-columns: 30px 1fr 60px;
        }
    }

    .table-image {
        display: none;
    }
}

.playlist__wrapper {
    @media (max-width: 960px) {
        .table-data {
            font-size: 12px;
        }

        .table-timer {
            display: none;
        }
    }

    @media (max-width: 530px) {
        .table-id {
            transform: rotate(90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
        }

        .table-data {
            display: none;
        }

        .table-timer {
            display: none;
        }
    }
}



@media (max-width: 530px) {
    .tracklist__mainWrapper {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
}