@import url('./playlistTitle.css');
@import 'tailwindcss';

canvas {
	background: transparent;
}

@theme {
	/* Стандартная схема */
	--color-commonbg: #000;
	--color-section: lab(7.78201 -0.0000149012 0); /* neutral-900 */
	--color-primary: oklab(
		0.707998 -0.00000712276 0.0000166297 / 0.05
	); /* bg-neutral-400/5 */
	--color-secondary: oklab(
		0.707998 -0.00000712276 0.0000166297 / 0.1
	); /* bg-neutral-400/10 */

	/* Стандартные цвета теста */
	--color-common: #ffffff;
	--color-detach: #b3b3b3; /* Цвет второстепенный */

	/* Утилитарные переменные */
	--color-header-gradient: linear-gradient(
		to bottom,
		#065f46,
		transparent
	); /* emerald-800 → прозрачный */
	--color-button-gradient: #000;
}

[data-theme='gradient'] {
	--color-commonbg: linear-gradient(to right, #ef4444, #f59e0b);
	--color-section: rgba(0, 0, 0, 0.8);
	--color-primary: oklab(
		0.707998 -0.00000712276 0.0000166297 / 0.05
	); /* bg-neutral-400/5 */
	--color-secondary: oklab(
		0.707998 -0.00000712276 0.0000166297 / 0.1
	); /* bg-neutral-400/10 */

	/* Градиентные цвета теста */
	--color-common: #f59e0b;
	--color-detach: #fde68a;

	/* Утилитарные переменные */
	--color-header-gradient: linear-gradient(
		to bottom,
		rgb(0 0 0 / 0),
		transparent
	);
	--color-button-gradient: var(--color-commonbg);
}
