@import url('./playlistTitle.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--font-main: 'Lato', sans-serif;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

/* @layer components {
	.proximity-border {
		--x: 0.5;
		--y: 0.5;
		--d: 0px;
		--w: 0px;
		position: relative;
	}
	.proximity-border::before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		border: calc(var(--w) + var(--d) * 2px) solid
			rgba(255, 255, 255, calc(1 - var(--d) * 0.8));
		pointer-events: none;
		transition:
			border-color 0.15s,
			border-width 0.15s;
	}
} */
