.sceletonPlaylist {
	max-width: 100%;
	background-color: #ffffff21;
	animation: 2s ease-in-out 0.5s infinite normal none running sceletonframes;
}
.sceletonTitle {
	background-color: #ffffff21;
	animation: 2s ease-in-out 0.5s infinite normal none running sceletonframes;
	color: transparent;
	padding-right: 40px;
	border-radius: 10px;
}
